@import url('../font/baskerville/loader.css');

.container.banner {
    padding-top: 3em;
    padding-left: 6em;
    width: 100%;
    margin-bottom: 3em;
    background: linear-gradient(0deg, white, red 10%) no-repeat;
}


.logo {
    width: 150px;
    height: 150px;
    margin-right: 1em;
    margin-top: .26em;
}

.title {
    color: white;
    font-family: "libre_baskervilleitalic", serif;
    font-style: italic;
    font-size: 85px;
    line-height: 1;
    margin-bottom: 1em;
}

.title .sub {
    margin-top: -.3em;
    font-size: .45em;
}

.title .sub-china {
    margin-top: .2em;
    font-size: .40em;
}

.gold {
    background-image: -webkit-gradient( linear, left top, left bottom,
    color-stop(0.0, #F6B500),
    color-stop(0.5, #ff2),
    color-stop(1, #fff) ); 
    background-image: gradient( linear, left top, left bottom,
    color-stop(0.0, #F6B500),
    color-stop(0.5, #ff2),
    color-stop(1, #fff) ); 
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.row h3 {
   margin-top: 1em;
}

.mugshot {
    margin-bottom: 1em;
}

.mugshot.li {
    height: 200px;
    width: 217px;
}

.mugshot.chou {
    height: 200px;
    width: 167px;
}

.button-row {
    margin-top: 5em;
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #EEE;
    }
