@import url('../font/baskerville/loader.css');

/* login modal dialog */

.login form {
    margin-top: 5em;
    padding: 5em;
}

.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 1;
}


@keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: #fbf8b2; }
    100% { background-color: transparent; }
}

@-webkit-keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: #fbf8b2; }
    100% { background-color: transparent; }
}

.protected {
   display: none;
}

.container.banner {
    padding-top: 3em;
    padding-left: 6em;
    width: 100%;
    margin-bottom: 3em;
    background: linear-gradient(0deg, white, red 10%) no-repeat;
}


.logo {
    width: 150px;
    height: 150px;
    margin-right: 1em;
    margin-top: .26em;
}

.title {
    color: white;
    font-family: "libre_baskervilleitalic", serif;
    font-style: italic;
    font-size: 85px;
    line-height: 1;
    margin-bottom: 1em;
}

.title .sub {
    margin-top: -.3em;
    font-size: .45em;
}

.title .sub-china {
    margin-top: .2em;
    font-size: .40em;
}

.gold {
    background-image: -webkit-gradient( linear, left top, left bottom,
    color-stop(0.0, #F6B500),
    color-stop(0.5, #ff2),
    color-stop(1, #fff) ); 
    background-image: gradient( linear, left top, left bottom,
    color-stop(0.0, #F6B500),
    color-stop(0.5, #ff2),
    color-stop(1, #fff) ); 
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.row.spaceabove {
   margin-top: 2em;
}

.button-row {
    margin-top: 5em;
}
